body {
  margin: 0 auto;
  font-family: monospace;
  background-color: #ebebeb;
  text-align: center;
}

a {
    color: #821616;
}

.header > h2 {
  text-align: left;
  margin: 0;
  padding-left: 1em;
  height: 100%;
  font-size: 2.25em;
  background-color: #ff4949;
  background-image: 
    linear-gradient(
      40deg, 
      #ff4949, #ffee23
    );
}

.header > h2 > a {
  color: black;
  text-decoration: none;
}

.header > h3 {
  font-size: 1.1em;
  margin-top: 0.2em;
  margin-left: 2em;
  margin-right: 2em;
  background-color: #eee;
}

.body {
  max-width: 50em;
  margin: 0 auto;
  padding: 2em;
  padding-top: 0;
}

h4 {
  margin-top: -1em;
  margin-left: -2em;
  margin-right: -2em;
  padding: 1em 2em 0 2em;
}

table {
    margin: 0 auto;
}

td > h4 {
  margin: 0;
  padding: 0;
}

tr {
  height: 4.5em;
}

tr:nth-child(odd) {
  background-color: #fff;
}

td {
    min-width: 8em;
    max-width: 20em;
    text-align: left;
}

td:nth-child(1) {
  min-width: 0;
}

.left-align, .la {
    text-align: left;
}

/* block code */
pre {
  background-color: #bebebe;
  color: #ffffff;
  margin-left: -2em;
  margin-right: -2em;
  padding: 2em
}

pre#light {
  background-color: #ffffff;
  color: #3d3d3d;
}

/* inline code */
code {
  background-color: #bebebe; 
  color: white;
}
